.main_div {
    text-align: center;
    border: 2px solid black;
    padding: 40px;
}

.table_input {
    text-align: center;
    width: 30px;
    height: 30px;
}

.free_member_input {
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

#table_html {
    margin-left: 50%;
    transform: translateX(-50%);
}

.error_text {
    background-color: red;
    border-radius: 30px;
    padding: 20px;
    font-size: 20px;
}