body {

    background-color: rgb(138, 93, 63);

}

.m_div {
    text-align: center;
    background-color: rgb(177, 169, 165);

}

.main_div {


}

.table_input {
    text-align: center;
    width: 30px;
    height: 30px;
}

.free_member_input {
    width: 30px;
    height: 30px;
    margin-left: 20px;
}




h1 {
    font-family: monospace;
    font-size: 55px;
}

.method_type_button {
    user-select: none;
    border: 1px black solid;
    background-color: rgb(124, 106, 98);
    border-radius: 20px;
    margin: 20px;
    margin-bottom: 50px;
    font-size: 20px;
    padding: 10px;
}

.j_div {
    margin: 50px;
}

#result_box {
    margin-top: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 35px;
    background-color: rgb(124, 106, 98);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 60%;
    padding: 20px;
  
}

.button_div button{
    background-color: rgb(124, 106, 98);
    font-size: 30px;
    padding: 15px;
    border-radius: 15px;
    outline: none;;
}